/*removing the browser margin and padding on all elements*/    
    *,*::after,*::before{
        padding: 0%;
        margin: 0%;
    }
/*ends*/
/*giving the document a standard font size*/    
    html{
        font-size: 62.5%;
    }

    .Maincontainer{
        width: 100%;
        min-height: 100vh;
    }

    .smallDevice{
        display: none;
    }

    .Page{
        width: 100%;
        margin-top: 5%;
    }

    h1,h2,h3,h4,h5,h6,span{
        text-transform: uppercase;
        display: block;
    }

    h1{
        font-size: 7rem;
    }

    h2{
        font-size: 5rem;
    }

    h3{
        font-size: 3rem;
    }

    .button{
        padding: 1.5rem;
        outline: 0;
        border: 0;
        text-transform: uppercase;
        cursor: pointer;
        margin:1.5rem 0 0;
        color: #fff;
    }

    .blueButton{
        background-color: rgba(51, 106, 128, 0.5);
    }

    .greyButton{
        position: relative;
        background-color: rgba(140, 138, 134, 0.5);
    }

    a{
        text-decoration: none;
        color: #fff;
    }

    
/*ends*/
/*Navigation*/
    #Navigation{
        width: 100%;
        position: fixed;
        color: #000000;
        z-index: 1;
        top:0;
    }

    .TopMenu{
        position: absolute;
        right: 5rem;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #searchbox{
        display: none;
    }

    .MainMenu{
        width: 100%;
        background-color: #1e1e24;
        color: #fff;
    }

    .MainMenu img{
        margin-left: 15rem;
    }

    .MainMenu #navbar{
        float: right;
        padding: 3rem;
        font-size: 3rem;
        margin: 0 20rem;
    }

    #navbar li{
        list-style: none;
        float: left;
        margin-right: 15rem; 
        text-transform: uppercase;
    }

    #navbar li:hover{
        border: 1px solid orange;
        padding: 1rem;
    }

    #navbar li a:checked{
        color: orange;
    }
/*end of Navigation*/
/*advert section*/
#advert{
            
    height: 45rem;
    /* width: 50%; */
    margin: 2rem 15rem;
    text-align: center;
    position: relative;
    color: #fff;
}

#advert::before{
    background-image:  linear-gradient( to bottom,rgba(117, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../Images/clearanceImage.jpg");
    background-size: cover;
    background-position: top center;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

#advert h2, #advert button{
    position: relative;
    top: 40%;
}
.form{
    position: relative;
    z-index: 1;
    max-width: 56rem;
    margin: 0 auto 10rem;
    padding: 10.5rem;
    text-align: center;
    font-size: 1.5rem;
}

form input, textarea {
    width: 100%;
    margin: 0 0 1.5rem;
    padding: 1.5rem;
    outline: 1;
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
}

form button{
    width: 100%;
}

form button::after, form button:hover{
    background: #000000;
}
/*footer*/
    #footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        width: 100%;
        height: 10vh;
        background-color: #1e1e24;
    }

    #protection a{
        display: block;
        padding: 15px
    }

    #paymentmethods ul li, #socialmedia ul li{
        float: left;
        list-style: none;
    }

    #paymentmethods ul li img, #socialmedia ul li img{
        width: 50px;
        height: 50px;
        padding-right: 15px
    }

    #socialmedia ul{
        display: block
    }
/*screens with a screen size less than 1740 and bigger that 1440*/
    @media screen and (max-width:1740px) and (min-width: 1440px){
        .MainMenu{
            background-color: rgb(211, 211, 53);
        }

        .MainMenu #navbar{
            margin: 0 5rem;
        }
    }
/*screens with a screen size less than 1439*/
    @media screen and (max-width: 1439px) and (min-width: 1024px)  {
        h1{
            font-size: 5.5rem;
        }
    
        h2{
            font-size: 3rem;
        }
    
        h3{
            font-size: 1.5rem;
        }

        .MainMenu img{
            margin-left: 10rem;
        }

        .MainMenu #navbar{
            margin: 0rem;
            margin-right: 26rem;
        }

        #navbar li{
            margin-right: 5rem;
        }

        .Page{
            margin-top: 6.5%;
        }
       
    }

    @media screen and (max-width: 1024px) {
        .smallDevice{
            display: inline;
        }

        .Page{
            margin-top: 0!important;
        }

        .openBtn{
            position: fixed;
            z-index: 1;
            left: 15px;
        }

        #Navigation {
            height: 100%;
            width: 0%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            background-color: #1e1e24
        }

        .TopMenu{
            bottom: 55rem;
            left: 0;
            padding-left: 6rem; 
        }
          
        .MainMenu ul li {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            display: block!important;
            transition: 0.3s;
            float: none!important;
        }

        .MainMenu #navbar{
            margin: 0;
            float: none;
        }
          
        #navbar li:hover{
            border: 1px solid orange;
            padding: 1rem;
        }
          
        #Navigation .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
          }
    }